@model IEnumerable<ProjectDAW.ViewModels.Category>

@{
    ViewBag.Title = "Categories";
}

@Html.ActionLink("Create Category", "Create", new { }, new { @class = "btn btn-success" })

<ul>
    @foreach (var category in Model)
    {
        <li>
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink(category.Name, "Show", new { id = category.CategoryId })
                </div>
                <div class="panel-body">@category.Description</div>
            </div>
        </li>
    }
</ul>

<h2>Index</h2>

